@import "../../styles/responsive.scss";

.hero {
    height: 100vh;
    background-image: url( "/img/football_field.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    @include dark {
        background-color: rgb(39, 14, 59);
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.field {
    width: 100%;
    height: 100%;
    z-index: 1;
}

@include dark {
    .hero {
        background-image: url("/img/night_field.jpg");
    }
    .light {
        display: none;
    }
    .dark {
        display: block!important;
    }
}

.dark {
    display: none;
}

.logo {
    z-index: 2;
    max-width: 400px;
    width:100%;
    height: auto;
    animation: logo 3s;
    @include media(mobile){
        margin-top: 2em;
    }
}

@keyframes logo {
    0% {
        transform: translate(0, 5px);
        opacity: 0.3;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
    
}

.arrow {
    color: white;
    width: 100px;
    animation: hopping 3s infinite;
}

@keyframes hopping {
    50% { transform: translate(0, 20px)}
    100% { transform: translate(0, 0)}
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.more {
    cursor: pointer;
    margin-top: 3em;
    font-weight: bold;
    font-size: 2.5em;
    color: #333333;
    @include dark {
        color: white;
        font-size: bold;
    }

    @include media(mobile, tablet){
        text-align: center;
        margin-top: 0.5em;
    }
}